.bl_fullNavigation {
  position: relative;
  width: 100%;
  background-color: $color_brown;
  min-height: 35px;
  color: #fff;
}

.bl_nav {
  position: relative;
  height: 100%;
  width: 100%;
}

.bl_nav__fullItems {

  width: 100%;
  height: 100%;
}

.bl_nav__item {
  float: left;

  height: 100%;
  line-height: 2;
  text-align: center;
  margin-right: 3.5%; ////////// 30px

}

.bl_nav__link {

  display: block;
  width: 100%;
  color: white;
  font-size: 14px;

  &:hover,
  &:active,
  &:focus{
    color: #fff;
    text-decoration: underline;
  }
}

// Mobile
.bl_fullNavigation_mobile .bl_nav {
  position: absolute;
  top: 48px;
  left: -4vw;
  width: 200px;
  min-height: 300px;
  transition: left 0.3s;

  background-color: $color_brown;
  z-index: 10;

  &:before {
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
  }

  &.closeMenu {
    left: -150%;
    transition: left 0.3s;
  }

  .bl_nav__fullItems {
    margin-top: 20px;
    width: 100%;
    //height: 100%;
  }

  .bl_nav__item {
    position: relative;
    float: none;
    height: auto;
    display: block;
    margin: 10px 0;
    z-index: 11;
  }

  .bl_nav__link {

    text-transform: uppercase;
  }

}

.bl_control {
  width: 100%;
  line-height: 2;
  font-size: 14px;
}

.bl_language {
  position: relative;

  float: right;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;

}

.bl_language__active {
  padding-right: 5px;

  &:after {
    position: absolute;
    top: 40%;
    left: 100%;
    content: "";
    width: 15px;
    height: 8px;
    background: url("../../image/arrow_down.svg") 50% 50% no-repeat;
  }
}

.bl_language__variables,
.bl_currency__variables {

  position: absolute;
  top: 110%;
  left: 0;
  width: 50px;
  min-width: inherit;
  min-height: 30px;
  background-color: $color_brown;

  z-index: 10;
}

.bl_currency__variables {
  left: -100%;
}

.bl_language__variables_item,
.bl_currency__variables_item {
  position: relative;
  margin-left: 5px;
  padding: 2px 0;
  z-index: 11;
  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }

}

.bl_currency__variables_item {
  text-align: right;
  margin-left: 0;
  margin-right: 5px;
}

.bl_language__variables_item:hover:after,
.bl_currency__variables_item:hover:before {

  position: absolute;
  top: 35%;
  right: 20%;
  content: "";
  width: 15px;
  height: 8px;
  transform: rotate(90deg);
  background: url("../../image/arrow_down.svg") 50% 50% no-repeat;
  z-index: 12;
}

.bl_currency__variables_item:hover:before {

  transform: rotate(-90deg);
  left: 10%;
}

.bl_currency {
  position: relative;
  float: right;
  margin-right: 8%;

  cursor: pointer;
  z-index: 3;
}

.bl_currency__active {

  &:before {
    position: absolute;
    top: 40%;
    left: -100%;
    content: "";
    width: 15px;
    height: 8px;
    background: url("../../image/arrow_down.svg") 50% 50% no-repeat;
  }
}

.bl_fullControlsMenu {
  width: 100%;
  background-color: #fff;

  padding-bottom: 30px; ////////////
}

$marginTopItem: 30px;

.bl_logo__link {
  display: block;
  margin-top: $marginTopItem; ////////
}

.bl_logo__image {
  display: block;

}

.bl_search {
  position: relative;
  margin-top: 13%;
  width: 100%;
  max-width: 400px;

}

.bl_search__field {
  width: 100%;
  height: 40px;

  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid $color_grey3;
  border-radius: 5px;
  outline: none;
  text-indent: 15px;

  &::placeholder {

    text-align: center;
    color: $color_grey2;
    font-size: 14px;

  }
  &:focus {
    border-color: $color_green;
  }

  &:focus::placeholder {
    opacity: 0;
  }

}

.bl_search__button {
  position: absolute;
  top: 10%;
  right: 16px;

  transform: translateY(50%);
  width: 16px;
  height: 16px;

  background: url("../../image/loupe.svg") 50% 50% no-repeat;
}

$marginTopItem2: 22px;

.bl_phones {
  float: right;

  margin-right: 15%;

  margin-top: $marginTopItem2; ////////////
  text-align: right;
}

.bl_phones__text {
  position: relative;
}

.icon_calling {
  &:before {
    content: "";
    width: 16px;
    height: 16px;

    position: absolute;
    top: 3px;
    left: 12px;

    background: url("../../image/icon_calling.svg") 50% 50% no-repeat;
  }
}

.bl_phones__fullSize {
  margin-top: 17px;
}

.bl_phones__number {
  margin-top: 2px;
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

.bl_shoppingCart {
  float: right;
  margin-top: $marginTopItem2; ////////////
}

.bl_shoppingCart__icon {
  margin: 0 auto;
  width: 46px;
  height: 40px;
  background: url("../image/basket.svg") 50% 50% no-repeat;
}

.bl_shoppingCart__allItems {
  width: 100%;
  text-align: center;
}

.bl_shoppingCart__text {
  margin-top: 6px;
  color: $color_grey2;
}

.bl_personalRoom__link {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 12%;
  color: #fff;

  line-height: 2;

  &:hover,
  &:focus,
  &:active{
    color: #fff;
    text-decoration: underline;
  }
}

.bl_personalRoom__icon {
  &:before {
    position: absolute;
    top: 17%;
    left: -20px;
    content: "";
    width: 13px;
    height: 16px;
    background: url("../image/icon_account.svg") 50% 50% no-repeat;
  }

}

.btn_callBack {
  float: right;
  display: inline-block;
  margin-right: 12%;
  background: inherit;

}

.btn_callBack__text {
  position: relative;

  font-size: 14px;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}

.btn_icon__callBack {

  &:before {
    content: "";
    position: absolute;
    top: 17%;
    left: -20px;
    width: 16px;
    height: 16px;
    background: url("../image/icone_phone.svg") 50% 50% no-repeat;
  }
}

.bl_fullCategories {
  width: 100%;
  background-color: $color_green;
}

.bl_fullCategories__field {
  width: 100%;
}

.bl_fullCategories__item {
  display: inline-block;
  height: 100%;
  width: calc((100% / 7) - 6px);
  text-align: center;

  &:first-child {
    text-align: left;
  }
  &:last-child .bl_fullCategories__link {
    text-align: right;
    border-right: none;
  }

}

.bl_fullCategories__link {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;

  line-height: 2;

  box-sizing: border-box;
  border-right: 1px solid #fff;

  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

/////// NATIVE

.open-menu-min {
  position: absolute;
  top: 30px;
  left: 1%;

  display: inline-block;
  width: 50px;
  color: #fff;

  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: $TahomaBold;

  background-color: inherit;

  z-index: 999;

  &:before {
    content: "";
    background: #fff;
    height: 4px;
    width: 40px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -20px;
    display: block;
    transition: all .3s ease-out;
  }

  &:after {
    content: "";
    background: #fff;
    height: 4px;
    width: 40px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin: 0 0 0 -20px;
    display: block;
    transition: all .3s ease-out;
  }

  &.close-menu-min {
    &:before {
      transform: rotate(45deg);
      top: -15px;
      width: 25px;
      margin: 0 0 0 -13px;
    }
    &:after {
      transform: rotate(-45deg);
      top: -15px;
      width: 25px;
      margin: 0 0 0 -13px;
    }
  }
}

.open-menu-main {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 150px;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  text-transform: uppercase;
  font-size: 14px;
}


