// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 119px;
$fb-offset-x: 0px;
$fb-offset-y: -119px;
$fb-width: 50px;
$fb-height: 50px;
$fb-total-width: 226px;
$fb-total-height: 169px;
$fb-image: '../image/sprite.png';
$fb: (0px, 119px, 0px, -119px, 50px, 50px, 226px, 169px, '../image/sprite.png', 'fb', );
$fish-breadcrumb-name: 'fish-breadcrumb';
$fish-breadcrumb-x: 131px;
$fish-breadcrumb-y: 88px;
$fish-breadcrumb-offset-x: -131px;
$fish-breadcrumb-offset-y: -88px;
$fish-breadcrumb-width: 18px;
$fish-breadcrumb-height: 11px;
$fish-breadcrumb-total-width: 226px;
$fish-breadcrumb-total-height: 169px;
$fish-breadcrumb-image: '../image/sprite.png';
$fish-breadcrumb: (131px, 88px, -131px, -88px, 18px, 11px, 226px, 169px, '../image/sprite.png', 'fish-breadcrumb', );
$fish-breadcrumbs-name: 'fish-breadcrumbs';
$fish-breadcrumbs-x: 154px;
$fish-breadcrumbs-y: 88px;
$fish-breadcrumbs-offset-x: -154px;
$fish-breadcrumbs-offset-y: -88px;
$fish-breadcrumbs-width: 18px;
$fish-breadcrumbs-height: 11px;
$fish-breadcrumbs-total-width: 226px;
$fish-breadcrumbs-total-height: 169px;
$fish-breadcrumbs-image: '../image/sprite.png';
$fish-breadcrumbs: (154px, 88px, -154px, -88px, 18px, 11px, 226px, 169px, '../image/sprite.png', 'fish-breadcrumbs', );
$fish-hit-name: 'fish_hit';
$fish-hit-x: 0px;
$fish-hit-y: 0px;
$fish-hit-offset-x: 0px;
$fish-hit-offset-y: 0px;
$fish-hit-width: 126px;
$fish-hit-height: 114px;
$fish-hit-total-width: 226px;
$fish-hit-total-height: 169px;
$fish-hit-image: '../image/sprite.png';
$fish-hit: (0px, 0px, 0px, 0px, 126px, 114px, 226px, 169px, '../image/sprite.png', 'fish_hit', );
$fish-up-name: 'fish_up';
$fish-up-x: 131px;
$fish-up-y: 0px;
$fish-up-offset-x: -131px;
$fish-up-offset-y: 0px;
$fish-up-width: 95px;
$fish-up-height: 83px;
$fish-up-total-width: 226px;
$fish-up-total-height: 169px;
$fish-up-image: '../image/sprite.png';
$fish-up: (131px, 0px, -131px, 0px, 95px, 83px, 226px, 169px, '../image/sprite.png', 'fish_up', );
$google-name: 'google';
$google-x: 55px;
$google-y: 119px;
$google-offset-x: -55px;
$google-offset-y: -119px;
$google-width: 50px;
$google-height: 50px;
$google-total-width: 226px;
$google-total-height: 169px;
$google-image: '../image/sprite.png';
$google: (55px, 119px, -55px, -119px, 50px, 50px, 226px, 169px, '../image/sprite.png', 'google', );
$youtube-name: 'youtube';
$youtube-x: 110px;
$youtube-y: 119px;
$youtube-offset-x: -110px;
$youtube-offset-y: -119px;
$youtube-width: 50px;
$youtube-height: 50px;
$youtube-total-width: 226px;
$youtube-total-height: 169px;
$youtube-image: '../image/sprite.png';
$youtube: (110px, 119px, -110px, -119px, 50px, 50px, 226px, 169px, '../image/sprite.png', 'youtube', );
$spritesheet-width: 226px;
$spritesheet-height: 169px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($fb, $fish-breadcrumb, $fish-breadcrumbs, $fish-hit, $fish-up, $google, $youtube, );
$spritesheet: (226px, 169px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
