// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-facebook-name: 'btn-facebook';
$btn-facebook-x: 156px;
$btn-facebook-y: 0px;
$btn-facebook-offset-x: -156px;
$btn-facebook-offset-y: 0px;
$btn-facebook-width: 71px;
$btn-facebook-height: 25px;
$btn-facebook-total-width: 227px;
$btn-facebook-total-height: 135px;
$btn-facebook-image: '../image/sprite.png';
$btn-facebook: (156px, 0px, -156px, 0px, 71px, 25px, 227px, 135px, '../image/sprite.png', 'btn-facebook', );
$btn-google-plus-name: 'btn-googlePlus';
$btn-google-plus-x: 156px;
$btn-google-plus-y: 30px;
$btn-google-plus-offset-x: -156px;
$btn-google-plus-offset-y: -30px;
$btn-google-plus-width: 42px;
$btn-google-plus-height: 25px;
$btn-google-plus-total-width: 227px;
$btn-google-plus-total-height: 135px;
$btn-google-plus-image: '../image/sprite.png';
$btn-google-plus: (156px, 30px, -156px, -30px, 42px, 25px, 227px, 135px, '../image/sprite.png', 'btn-googlePlus', );
$btn-like-name: 'btn-like';
$btn-like-x: 55px;
$btn-like-y: 85px;
$btn-like-offset-x: -55px;
$btn-like-offset-y: -85px;
$btn-like-width: 74px;
$btn-like-height: 25px;
$btn-like-total-width: 227px;
$btn-like-total-height: 135px;
$btn-like-image: '../image/sprite.png';
$btn-like: (55px, 85px, -55px, -85px, 74px, 25px, 227px, 135px, '../image/sprite.png', 'btn-like', );
$btn-twitter-name: 'btn-twitter';
$btn-twitter-x: 0px;
$btn-twitter-y: 0px;
$btn-twitter-offset-x: 0px;
$btn-twitter-offset-y: 0px;
$btn-twitter-width: 96px;
$btn-twitter-height: 25px;
$btn-twitter-total-width: 227px;
$btn-twitter-total-height: 135px;
$btn-twitter-image: '../image/sprite.png';
$btn-twitter: (0px, 0px, 0px, 0px, 96px, 25px, 227px, 135px, '../image/sprite.png', 'btn-twitter', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 30px;
$fb-offset-x: 0px;
$fb-offset-y: -30px;
$fb-width: 50px;
$fb-height: 50px;
$fb-total-width: 227px;
$fb-total-height: 135px;
$fb-image: '../image/sprite.png';
$fb: (0px, 30px, 0px, -30px, 50px, 50px, 227px, 135px, '../image/sprite.png', 'fb', );
$google-name: 'google';
$google-x: 101px;
$google-y: 0px;
$google-offset-x: -101px;
$google-offset-y: 0px;
$google-width: 50px;
$google-height: 50px;
$google-total-width: 227px;
$google-total-height: 135px;
$google-image: '../image/sprite.png';
$google: (101px, 0px, -101px, 0px, 50px, 50px, 227px, 135px, '../image/sprite.png', 'google', );
$icon-kyivstar-name: 'icon-kyivstar';
$icon-kyivstar-x: 203px;
$icon-kyivstar-y: 30px;
$icon-kyivstar-offset-x: -203px;
$icon-kyivstar-offset-y: -30px;
$icon-kyivstar-width: 16px;
$icon-kyivstar-height: 16px;
$icon-kyivstar-total-width: 227px;
$icon-kyivstar-total-height: 135px;
$icon-kyivstar-image: '../image/sprite.png';
$icon-kyivstar: (203px, 30px, -203px, -30px, 16px, 16px, 227px, 135px, '../image/sprite.png', 'icon-kyivstar', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 156px;
$icon-phone-y: 60px;
$icon-phone-offset-x: -156px;
$icon-phone-offset-y: -60px;
$icon-phone-width: 14px;
$icon-phone-height: 16px;
$icon-phone-total-width: 227px;
$icon-phone-total-height: 135px;
$icon-phone-image: '../image/sprite.png';
$icon-phone: (156px, 60px, -156px, -60px, 14px, 16px, 227px, 135px, '../image/sprite.png', 'icon-phone', );
$youtube-name: 'youtube';
$youtube-x: 0px;
$youtube-y: 85px;
$youtube-offset-x: 0px;
$youtube-offset-y: -85px;
$youtube-width: 50px;
$youtube-height: 50px;
$youtube-total-width: 227px;
$youtube-total-height: 135px;
$youtube-image: '../image/sprite.png';
$youtube: (0px, 85px, 0px, -85px, 50px, 50px, 227px, 135px, '../image/sprite.png', 'youtube', );
$spritesheet-width: 227px;
$spritesheet-height: 135px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($btn-facebook, $btn-google-plus, $btn-like, $btn-twitter, $fb, $google, $icon-kyivstar, $icon-phone, $youtube, );
$spritesheet: (227px, 135px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
