/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("TahomaBold", "../fonts/TahomaBold/Tahoma-Bold", 700, normal, eot ttf woff);


/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  background-color: $color_lightGrey;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}



.title_name {
  margin-top: 0;
  vertical-align: top;
  margin-bottom: 0;

  text-align: left;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 18px;
}




$minSliderHeight: 555px; /// 578

.mainSlider__fullBlock {
  width: 100%;
  min-height: $minSliderHeight;
  background-color: #fff;
}

.bl_mainSlider {
  position: relative;
  margin-top: 23px;
  width: 100%;
}

.bl_mainSlider__item {
  position: relative;
  width: 100%;
}

.bl_mainSlider__details {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  display: block;

  width: 270px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fff;
}

.bl_mainSlider__details_text {

  color: #f1f1f1;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 3;
  text-transform: uppercase;
}

// OWL

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 50px;
    //background-color: #202020;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 22px;
      height: 30px;
      background: url("../image/arrow_left.svg") 50% 50% no-repeat;

    }

  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    //background-color: #202020;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 22px;
      height: 30px;
      background: url("../image/arrow_right.svg") 50% 50% no-repeat;

    }

  }
}

//corrected style

.owl-carousel.bl_mainSlider{

  .owl-prev{
    left: 18px;
  }
  .owl-next{
    right: 18px;
  }
}



.slider_popular.owl-carousel .owl-nav,
.slider_newProducts.owl-carousel .owl-nav,
.slider_withThisProductBuy.owl-carousel .owl-nav,
.slider_youViewed.owl-carousel .owl-nav {
  width: initial;
  height: auto;
  top: -50px;
  right: 0;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 70px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid $color_lightGrey;
    &:before {
      width: 16px;
      height: 30px;
      background: url("../image/arrow_left_bloсk.svg") 50% 50% no-repeat;
    }
  }

  .owl-next {
    float: right;
    &:before {
      background: url("../image/arrow_right_bloсk.svg") 50% 50% no-repeat;
    }
  }

}

.arrow-prev__hover {
  background-color: $color_blue !important;
  border-color: $color_blue !important;
}

.product_image__slider.owl-carousel .owl-nav {

  top: 25%;

  .owl-prev,
  .owl-next {

    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 50px;

    background-color: $color_blue;
    box-sizing: border-box;

    z-index: 11;
    &:before {
      width: 16px;
      height: 30px;
      background: url("../image/arrow_left_bloсk.svg") 50% 50% no-repeat;
    }

    &:hover {
      background-color: $color_blue2;
    }

  }

  .owl-next {
    float: right;
    &:before {
      background: url("../image/arrow_right_bloсk.svg") 50% 50% no-repeat;
    }
  }
}

.bl_withThisProductBuy .owl-carousel .owl-nav {
  top: -36px;
}

.bl_youViewed .owl-carousel .owl-nav {
  top: -36px;
}

// OWL END


.bl_dayProduct{
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_dayProduct__actual{
  margin: 30px auto 0;
  width: 315px; /////////////////////
  box-sizing: border-box;
}


.bl_dayProduct__actual_text{
  text-align: center;
  margin:auto;
  max-width: 250px;
  color: white;
  font-family: "Arial Narrow";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $color_brown;
}


.bl_dayProduct__actual_img{
  display: block;
  margin: 0 auto;
  max-width: 250px; //////////
  width: 100%;

}

.bl_dayProduct__title{
  margin-top: 30px;
  height: 40px;
  color: #333;
  font-family: $TahomaBold;
  font-size: 16px;
  text-align: center;

}








.bl_popular {
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_newProducts {
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_popular__title {
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}

.bl_newProducts__title {
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}

.slider_popular {
  margin-top: 42px;

}

.slider_newProducts {
  margin-top: 42px;
}

.product_sliderCart__item {
  display: inline-block;
  min-height: 280px; //////////////

  box-sizing: border-box;
  border: 1px solid #f1f1f1;

}

.product_sliderCart__item_wrapper {
  position: relative;
  max-width: 250px;
  text-align: center;
  margin: 20px 18px 20px 22px;
}

// MARK (layba)


.bl_mark {
  position: absolute;
  top: -24px;
  left: -18px;

  width: 113px;
  height: 126px;

  &__hit {
    background: url("../image/fish_hit.svg") 0 50% no-repeat;
  }

  &__action {
    background: url("../image/fish_action.svg") 0 50% no-repeat;
  }

  &__new {
    background: url("../image/fish_new.svg") 0 50% no-repeat;
  }

}

.bl_mark__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  color: #fff;
  font-family: "Arial Narrow", Arial, sans-serif;

  font-size: 24px;
  font-weight: 400;
  line-height: 87px;
  text-transform: uppercase;

  &_action {
    font-size: 22px;
  }

}

/////


.product_sliderCart__link {

  &:hover .product_sliderCart__name {
    text-decoration: underline;
  }
}

.product_sliderCart__image {
  width: 100%;
  background-color: #f1f1f1;

}

.product_sliderCart__name {
  display: block;
  margin: 30px auto 0;
  text-align: center;
  width: 154px;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 16px;
  font-weight: 400;
}

.product_sliderCart__price {
  max-width:250px;
  width: 100%;
  margin: 22px auto 16px;
}

.product_sliderCart__price_oldPrice {
  float: left;
  text-align: left;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: line-through;
}

.product_sliderCart__price_newPrice {
  float: right;
  text-align: right;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 33px;
}

.product_sliderCart__price_normalPrice {
  text-align: center;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 33px;
}

.product_sliderCart__buy {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 250px;
  height: 50px;
  margin: 16px auto 0;
  border: 1px solid $color_green;
  border-radius: 5px;
  box-sizing: border-box;

  background-color: #fff;
  color: $color_green;

  transition: all 0.2s;

  &_text {

    font-family: $TahomaBold;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    background-color: $color_green;
    color: #fff;
    transition: all 0.2s;
  }
}

.bl_advantages {
  margin-top: 35px;

  min-height: 174px;
  background-color: #fff;
}

.bl_advantages__wrapper {
  height: 100%;
  min-height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_delivery,
.bl_payment,
.bl_quality {
  width: 33%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.likeButton_circle {
  position: relative;
  margin-left: 10%;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  //border: 1px solid $color_red;

  box-shadow: 2.5px 4.3px 9px rgba(1, 1, 1, 0.14);
}

.likeButton_icon-car {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 61px;
    height: 41px;
    background: url("../image/delivery.svg") 50% 50% no-repeat;
  }
}

.likeButton_icon__cart {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 62px;
    height: 40px;
    background: url("../image/payment.svg") 50% 50% no-repeat;
  }

}

.likeButton_icon-mark {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 34px;
    height: 40px;
    background: url("../image/quantity.svg") 50% 50% no-repeat;
  }
}

.likeButton_text {
  //width: 100%;
  margin-left: 7%; /////////////
  display: inline-block;
  color: #2d3950;
  font-family: $Tahoma;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

//

.bl_aboutShop {
  background-color: #fff;
  padding: 0 20px;
  min-height: 400px;
  margin-top: 30px;
  width: 100%;
}

.bl_aboutShop__title {
  padding-top: 22px;
}

.bl_aboutShop__fullBlock {
  width: 100%;
}

.bl_aboutShop__paragraph {
  margin-top: 22px;
}

//

.bl_shopNews {
  margin-top: 36px;
  background-color: #fff;
  width: 100%;
  min-height: 400px;
  padding: 0 20px;
}

.bl_shopNews__title {
  //padding-top:22px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
}

.bl_shopNews__fullGroup {
  width: 100%;
  margin-top: 26px;
  border-top: 1px solid $color_lightGrey;
}

.bl_shopNews__news {
  display: block;
  width: 100%;
  min-height: 30px;

  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 14px;
  font-weight: 400;
}

.bl_shopNews__wrapperBlock {
  margin-top: 18px;
  line-height: 20px;
  width: 100%;
}

.bl_shopNews__calendar {
  float: left;
  width: 14px;
  height: 14px;
  background: url("../image/calendar.svg") 50% 50% no-repeat;
}

.bl_shopNews__data {
  float: left;
  margin-left: 8px;

}

.bl_shopNews__data_text {

  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 14px;

  &:before {
    content: "/";
    color: inherit;
    padding: 0;
  }
  &:first-child:before {
    content: "";
  }

}

.bl_shopNews__moreInformation {
  float: right;
  color: $color_blue;
  font-size: 14px;

}

///////////// CART PRODUCT

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 4%;
    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 3;
      //@include sprite($fish-breadcrumb);
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;

    &:hover {
      color: #000;
    }
  }
  &__active {
    text-decoration: none;
    font-weight: bold;
  }

}

.bl_fullProduct {
  position: relative;
  width: 100%;
}

.bl_productName {
  //margin-top: 20px; //////////
  padding-bottom: 21px;
  width: 100%;
  background-color: #fff;

  box-sizing: border-box;
  border-bottom: 1px solid $color_lightGrey;
}

.bl_fullProduct__title {
  display: inline-block;
  padding: 24px 0 0 20px;
  margin-top: 0;
  margin-bottom: 0;

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 27px;

}

.bl_raiting {
  float: right;
  padding-right: 20px;
  display: inline-block;
  width: auto;
  margin-top: 24px;
  background-color: #fff;

  color: $color_grey2;
  font-size: 12px;
  line-height: 30px;
}

.bl_raiting label {
  float: right;
}

.bl_raiting__chackbox {
  position: absolute;
  visibility: hidden;
}

.bl_raiting__button {
  position: relative;
  display: inline-block;
  background-color: inherit;
  text-decoration: underline;
  z-index: 5;

}

.bl_raiting {

  & input:checked ~ label:before {
    background: url("../image/star_full.svg") 50% 50% no-repeat;
  }

  & label:hover:before,
  & label:hover ~ label:before {
    background: url("../image/star_full.svg") 50% 50% no-repeat;
  }

}

.bl_raiting__label {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-left: 3px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 22px;
    height: 21px;
    background: url("../image/star_empty.svg") 50% 50% no-repeat;
    z-index: 2;
  }

  &:first-child {
    margin-left: 13px;
  }
}

.review_item {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid $color_blue;
}

.review_text{
  vertical-align: top;
}

.review_item__userName {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid $color_blue;
  font-family: $TahomaBold;
  color: $color_grey2;
  font-size: 18px;
}

.review_item__time {
  float: right;
  display: inline-block;
}

.review_item__raiting {
  margin-top: 10px;
  text-decoration: underline;
}

.personal-form-review {
  clear: both;
  margin-top: 15px;
}

.review_item__fullReview {
  margin-top: 10px;
}

.review_product {
  width: 100%;
  margin: 24px auto 0;
  text-align: center;
}

.review_product__title {
  display: inline;
  font-family: $Tahoma;
  font-size: 24px;

}

.review_product__title__bold {

  font-family: $TahomaBold;

}

.bl_review__raiting{
  margin-top: 4px;
}

.bl_review__raitingFull {
  display: inline-block;
}

.bl_review__raitingFull input:checked ~ label:before {
  background: url("../image/star_full.svg") 50% 50% no-repeat;
}

.bl_review__raitingFull label:hover:before,
.bl_review__raitingFull label:hover ~ label:before {
  background: url("../image/star_full.svg") 50% 50% no-repeat;
}

.bl_review__raitingFull .bl_raiting__label {
  padding-top: 4px;
  float: right;
}

.product_image {
  width: 100%;
  border-right: 1px solid $color_lightGrey;
  height: 100%;
  padding-bottom: 25px; //////////////////

}

.product_image__scaleIcon {
  position: absolute;

  top: 50px;
  right: 100px;

  width: 30px;
  height: 31px;
  background: url("../image/loupe.svg");
}

$minProductHeight: 610px; /////////////////////////////////

.block_fullItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: $minProductHeight;
  background-color: #fff;
}

.product_image__mainBlock {
  width: 100%;
  height: 100%;
  //min-height: $minProductHeight;
}

.product_image__slider {
  //position: absolute;
  //bottom: 0;
  width: 100%;
  padding-bottom: 25px;
  margin: 0 auto;
}

.product_image__img {
  width: 100%;
  height: 500px; ////////////////////////////
  text-align: center;
  object-fit: contain;

}

.product_image__item {
  width: 100%;

}

.product_image__sliderImg {
  //width: auto !important;
  max-height: 110px;
  object-fit: contain;
  //object-fit: cover;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.product_info {
  width: 100%;
  background-color: #fff;
  //min-height: $minProductHeight;
  padding-bottom: 25px;
}

.product_info__id {
  display: block;
  text-align: center;
  margin-top: 26px;
  font-size: 16px;
  line-height: 24px;
  color: $color_grey2;

  &_text {
    text-transform: uppercase;
  }
}

.product_info__productAvailability {
  display: block;
  text-align: center;
  margin-top: 6px;
  line-height: 16px;
  color: $color_grey2;
}

.product_info__productAvailability__yes {
  font-family: $TahomaBold;
  color: $color_blue;
}

.product_info__productAvailability__no {
  font-family: $TahomaBold;
  color: $color_red;
}

.bl_price {

  margin: 12px auto 0;
  text-align: center;
}

.bl_price__newPrice {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 23px;

}

.bl_price__oldPrice {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 21px;
  font-weight: 400;
  text-decoration: line-through;
}

.bl_price__normal {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 22px;
}

.product_size {
  display: inline-block;

  min-width: 220px; ///////////////////
  text-align: center;

}

.product_size__text {
  text-align: center;
  display: block;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 17px;
}

.product_size__label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;

  margin-right: 14px; //////////////////
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid $color_lightGrey;

  &:hover {
    border-color: $color_blue;

    .product_size__text {
      color: $color_blue;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.product_size__input {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.product_size__input:checked + .product_size__text {
  color: $color_red;
}

.product_sizeDescription {
  display: none;

  p {
    line-height: 1.2;
  }

  &__showed {
    display: block;
  }
}

.product_info .product_size__input:checked ~ .label_field {
  display: block;
}

.product_size__text {

  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 14px;
  font-weight: 400;
  line-height: 3.4;
  text-transform: uppercase;
  cursor: pointer;

  &_min {
    text-transform: none;
  }

}

.block_quantity {
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: center;
  min-width: 100px;
}

.block_quantity__text {

  color: $color_grey2;
  font-family: $Tahoma;
  margin-top: 14px;
}

.block_quantity__box {
  position: relative;
  height: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid $color_lightGrey;

  min-width: 128px;
}

.block_quantity__minus {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 40px;
  height: 40px;
  background: none;
}

.block_quantity__plus {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: none;
}

.block_quantity__input {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 100%;
  box-sizing: border-box;

  &::placeholder {
    display: inline-block;

    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.bl_description {
  position: relative;
  width: 100%;
  height: 130px; //////////////////////// /* Field for size*/
  margin-top: 12px;

  overflow: auto;

  border-bottom: 1px solid $color_blue;
}

.bl_description__text {

  color: $color_grey2;
  font-size: 16px;
}

.bl_description__box {

  width: 100%;
  span {
    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 14px;
    line-height: 1;
  }
}

.button_buy {
  display: block;
  margin: 8px auto 0; ////26px
  text-align: center;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s;
  background-color: $color_blue;
  border: 1px solid $color_blue;
  border-radius: 24px;

  &:hover {
    transition: all 0.2s;
    background-color: #fff;
    color: $color_blue;
  }

}

.bl_fullProducts__item .button_buy {
  margin: 16px auto 0;
  width: 100%;
}

.button_buy__text {

  color: inherit;
  font-family: $TahomaBold;
  font-size: 16px;

  //line-height: 50px;
}

.bl_buyOneClick {
  margin: 14px auto 0;
  width: 100%;
  text-align: center;
}

.bl_buyOneClick__text {

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 16px;
  //line-height: 50px;
}

.btn_buy__overflow {
  position: relative;
  border: 1px solid $color_blue;
  box-sizing: border-box;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  overflow: hidden;
  border-radius: 24px;
}

.btn_buy__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 25px;

  &::placeholder {
    text-indent: 25px;
    color: #c5c5c5;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 50px;
  }

}

.btn_buy__send {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  color: #fff;
  background-color: $color_blue;

  &:hover{
    background-color: $color_blue2;
  }
}

.btn_buy__send_icon {
  position: absolute;
  top: -10px;
  right: -8px;
  width: 19px;
  height: 20px;
  background: url("../image/buy.svg") 50% 50% no-repeat;
  z-index: 4;
}

.bl_productDelivery {
  width: 100%;
  margin-top: 12px;
  border: 1px solid $color_lightGrey;
  padding: 12px 0;
  text-align: center;
}

.bl_productDelivery__text_mainText {
  font-family: $TahomaBold;
}

.bl_productDelivery__text {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;

  color: $color_grey2;

}

.color_red {
  color: $color_red;
}

.bl_productAdvantages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 33px;
  padding-top: 44px;
  padding-bottom: 36px;

  text-align: center;

  min-height: 254px;
  background-color: #fff;
}

.bl_productAdvantagesDelivery,
.bl_productAdvantagesPayment,
.bl_productAdvantagesExchange {
  width: 33%;

  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;

  height: 100%;
  align-items: center;
}

.bl_productAdvantagesDelivery__icon-delivery {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/delivery_block.svg") 50% 50% no-repeat;

}

.bl_productAdvantagesPayment__icon-cart {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/payment_block.svg") 50% 50% no-repeat;
}

.bl_productAdvantagesExchange__icon-return {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/return_block.svg") 50% 50% no-repeat;
}

.bl_advantages__title {
  margin-top: 32px;

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 18px;
  line-height: 24px;
}

.bl_advantages__allVariants {
  margin: 22px auto 0;
  max-width: 248px;
  box-sizing: border-box;

}

.bl_advantages__text {
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 24px;
}

.bl_advantages__link {
  color: $color_blue;
  text-decoration: underline;
  &:hover {
    color: $color_blue;
  }
}

.bl_video {
  width: 100%;
  padding: 10px;
}

.bl_video__text {
  display: inline-block;
  font-size: 22px;
  font-family: $TahomaBold;
  padding: 0;
}

.bl_video_wrapper {
  margin-top: 10px;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.bl_video_videoAboutProduct {
  margin-top: 10px;
  display: block;
  object-fit: contain;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

div#theCaption {
  display: none;
}

.control:link {
  font-size: 120%;
}

.highslide-caption {
  background-color: #6699cc;
}

////// information about product

.inf_product {
  width: 100%;
  margin-top: 35px;
  background-color: #fff;
}

.inf_product__tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

li.inf_product__item {
  width: 33%;
  text-align: center;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 27px;
  box-sizing: border-box;

  background-color: inherit;
}

.inf_product .tab-content {
  padding: 10px 30px 32px 20px;
}

.tab-content .tab-pane li {
  margin-top: 10px;
}

.nav-tabs li.inf_product__item a:hover {
  border: none;
}

.nav-tabs .inf_product__item > a {
  margin: 0;
  padding: 15px;

  &:hover {
    background-color: #fff;
  }
}

.inf_product__tabs .inf_product__item.active a {
  border: none;
  border-radius: 0;
  border-top: 2px solid #0160ac;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border: none;
    border-top: 2px solid #0160ac;
  }
}

.tab-pane .table td:first-child {
  width: 30%;
}

.tab-pane .table,
.tab-pane .table tr td {
  border: none;
  height: 100%;
  font-size: 16px;
  color: $color_grey2;
  line-height: 32px;
  text-align: center;
}

.tab-pane .table tr td:nth-child(2n) {
  text-align: left;
}

.tab-pane .table tr:nth-child(2n -1) {
  background-color: $color_lightGrey;
}

.bl_withThisProductBuy,
.bl_youViewed {
  position: relative;
  margin-top: 35px;
  background-color: #fff;
}

.bl_withThisProductBuy__title,
.bl_youViewed__title {
  font-size: 24px;
  font-family: $TahomaBold;
  padding: 25px 20px 20px;
}

//// CATEGORIES PRODUCT

.rubric__title {
  position: relative;
  margin: 23px auto 0;
  width: 100%;
  border-bottom: 1px solid #eee;

  &:hover {
    .rubric__title_text {
      text-decoration: underline;
    }
  }

}

.rubric__title_button {
  position: absolute;
  top: 25%;
  left: 25%;

  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: $color_blue;
  color: #fff;
}

.rubric__title_button__categories {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 36px;
    content: "\f0c9";
    font-family: $FontAwesom;
    background: none;

  }
}

.rubric__title_button__filters {
  &:after {
    content: "\f0b0";
    font-family: $FontAwesom;
  }
}

.rubric__title_text {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-family: $TahomaBold;
  color: $color_grey2;
  font-size: 24px;
  line-height: 36px;

}

.rubric__title_decorate {
  letter-spacing: 2px;
}

.rubric__title_margin {
  padding-left: 20px;
}

.rubric__title_margin__filters {
  width: 100%;
  text-align: center;
}

.bl_filters {
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}

.bl_filters__caterogyName,
.bl_filters__caterogyName_active {
  position: relative;
  margin: 0;
  color: $color_grey2;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  &:hover {
    color: $color_blue;
    transition: all 0.2s;
  }
}

.bl_filters__caterogyName_active {
  color: $color_red;
}

.filter_name {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: $color_blue;
  font-weight: bold;
  cursor: pointer;
}

.decor_triangle {
  position: relative;

  &:after {
    font-size: 14px;
    color: $color_blue;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    content: "\f054";
    font-family: $FontAwesom;
    transition: all 0.2s;
  }

  &__active {
    position: relative;
    &:after {
      font-size: 14px;
      color: $color_red;
      font-weight: 400;
      position: absolute;
      right: 0;
      top: 0;
      content: "\f078";
      font-family: $FontAwesom;
      transition: all 0.2s;
    }
  }
}

.decor_leftTriangle {
  position: relative;

  &:after {
    font-size: 16px;
    color: inherit;
    position: absolute;
    left: -14px;
    top: 0;
    content: "\f0da";
    font-family: $FontAwesom;
    transform-origin: left 50%;
    transition: all 0.2s;
  }

  &__active {
    position: relative;

    &:after {
      top: -2px;

      transition: all 0.2s;
      transform: rotate(90deg);
    }
  }
}

.decor_triangle__socButton {
  position: relative;

  &:before {
    position: absolute;
    left: -6px;
    top: 8px;
    content: "";
    @include triangle(left, 6px, #ccc);
    z-index: 5;
  }

}

.bl_filters__item {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: $color_grey2;
  cursor: pointer;
  &:hover {
    color: $color_blue;
    transition: all 0.2s;
  }
}

.bl_filters__subName {

}

.bl_filters__subName_active {
  color: $color_blue;
}

.bl_filters__productsFilters {
  padding-left: 20px;
  padding-right: 10px;
}

.decor_circle {

  &:before {

    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    border-radius: 50%;
    background-color: $color_blue;
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.2);
    line-height: 36px;
  }
}

.bl_filter__checkbox {
  position: absolute;
  opacity: 0;
  //z-index: 99;
}

.bl_filter__label input:checked + .decor_lickCheckbox:after {
  position: absolute;
  left: -11px;
  content: "\f00c";
  width: 100%;
  height: 100%;
  font-family: $FontAwesom;
  font-size: 14px;
  font-weight: 400;
  color: $color_red;
  z-index: 4;
}

.decor_lickCheckbox {
  position: relative;

  &:before {
    content: "";
    position: absolute;

    top: 0;
    left: -15px;

    width: 20px;
    height: 20px;
    border: 1px solid #efefef;
    background-color: #fff;
    z-index: 3;
  }

}

.filter_text {
  position: relative;
  display: inline-block;

  padding-left: 30px;

  margin-left: 15px;
  line-height: 17px; ////////
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  &__active {
    transition: all 0.2s;
    color: $color_pink;
  }

  &:hover {
    color: $color_pink;
    transition: all 0.2s;
  }
}

/////

.bl_subCategories {

  width: 100%;
}

.bl_subCategories__item {

  box-sizing: border-box;

}

.bl_subCategories__link {
  display: block;
  text-align: center;
  width: 100%;

  &:hover .bl_subCategories__text {
    color: $color_red;
    text-decoration: none;
    transition: 0.2s color;
  }
}

.bl_subCategories__image {
  margin: 14px auto 0;
  height: 120px; ////////
  display: block;
}

.bl_subCategories__text {

  color: $color_blue;
  font-family: $Tahoma;
  font-size: 14px;
  line-height: 18px;

  transition: 0.2s color;
  text-decoration: underline;
}

.bl_fullProducts {
  margin-top: 16px;
  padding: 20px 15px;
}

.bl_view {

  width: 100%;
  padding: 0 15px;
}

.bl_view__text {

  height: 16px;
  font-size: 16px;
}

.bl_sorter {
  display: inline-block;
  position: relative;

  &:after {
    content: "\f0d7";
    font-family: $FontAwesom;
    position: absolute;
    top: 0;
    right: 3px;

    pointer-events: none;
    box-sizing: border-box;

    width: 12px;
    height: 8px;
    color: $color_blue;

    font-size: 18px;
    font-weight: 400;
    z-index: 5;
  }
}

.bl_sorter__select {
  width: 206px;
  height: 25px;
  border: 1px solid #e5e5e5;
}

.bl_numberOfItemShow {
  position: relative;
  margin-left: 7%; ////////
  display: inline-block;

  &:after {
    content: "\f0d7";
    font-family: $FontAwesom;
    position: absolute;
    top: 0;
    right: 3px;

    pointer-events: none;
    box-sizing: border-box;

    width: 12px;
    height: 8px;
    color: $color_blue;

    font-size: 18px;
    font-weight: 400;
    z-index: 5;
  }
}

.bl_numberOfItemShow__select {

  width: 162px;
  height: 25px;
  border: 1px solid #e5e5e5;
  text-indent: 10px;
}




.bl_positionSorted {
  position: relative;
  float: right;

  &__ratio {
    position: absolute;
    opacity: 0;
  }

  &__button {
    position: relative;
    display: inline-block;
    color: #cadded;
    width: 28px;
    height: 28px;
  }
}

.bl_positionSorted__ratio:checked + .bl_positionSorted__label .bl_positionSorted__button {
  color: $color_blue;
}

.view_columns {

  &__button {
    position: relative;
    margin-right: 12px;
    cursor: pointer;

    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f009';
      font-family: $FontAwesom;
      font-size: 30px;
    }
  }

}

.view_list {
  &__button {
    position: relative;
    cursor: pointer;
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f03a';
      font-family: $FontAwesom;
      font-size: 30px;
    }
  }
}

.bl_catalog__fullProducts {
  width: 100%;
  height: 100%;
  margin-top: 16px;
  padding-top: 15px;
}

///// GRID VIEW

.view_grid__STYLE {

  .bl_fullProducts__options,
  .product_info__id,
  .product_info__productAvailability{
    display: none;
  }

}

.bl_products {
  margin-top: 20px;

}

.bl_products__border {
  border-top: 1px solid $color_lightGrey;
  border-left: 1px solid $color_lightGrey;
}

.bl_fullProducts__item {
  position: relative;

  height: 100%;
  min-height: 380px; ///////////////

  padding: 16px 20px 23px 20px;

  box-sizing: border-box;

}

.bl_fullProducts__item_border {
  border-right: 1px solid $color_lightGrey;
  border-bottom: 1px solid $color_lightGrey;

}

.bl_fullProducts__item_border.col-md-4 .bl_fullProducts__item_border:nth-of-type(3) {
  border-right: none;
  /* Данный стиль актуальный только если у bl_fullProducts__item есть col-md-4 */
}

.bl_fullProducts__imageWrapper {
  margin: 0 auto;
  text-align: center;
  padding: 12px 8px;
  width: 100%;
}

.bl_fullProducts__title {

  margin-top: 34px;
  height: 44px;

  text-align: center;
  color: $color_grey2;
  font-size: 16px;



}

.bl_fullProducts__link{


  &:hover {
    text-decoration: underline;
  }
}


.bl_fullProducts__price {
  color: $color_grey2;
  line-height: 33px;
  width: 100%;
}

.bl_fullProducts__oldPrice {
  text-align: left;
  font-size: 18px;

}

.bl_fullProducts__newPrice {

  float: right;
  font-size: 24px;
  font-family: $TahomaBold;
}

.bl_fullProducts__normal {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

//////  LIST VIEW

.view_list__STYLE .bl_fullProducts__item{
  min-height: 298px;
}

.view_list__STYLE .bl_fullProducts__imageWrapper {
  margin: 0 auto;
  width: auto;
}

.view_list__STYLE .bl_products__center__wrapper {
  height: 100%;
  vertical-align: middle;
  display: block !important;
}

.view_list__STYLE .bl_fullProducts__title,
.view_list__STYLE .bl_fullProducts__options{
  display: block;
  height: auto;
  margin: 0;
  color: #333;
  font-family: $TahomaBold;
  font-size: 18px;
  text-align: left;
}




.view_list__STYLE .product_info__id,
.view_list__STYLE .product_info__productAvailability{
  display: block;
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}

.view_list__STYLE .bl_fullProducts__oldPrice,
.view_list__STYLE .bl_fullProducts__newPrice,
.view_list__STYLE .bl_fullProducts__normal{
  margin-top: 40px;
}

.view_list__STYLE .bl_fullProducts__oldPrice{
  float: right;
  font-size: 21px;
}

.view_list__STYLE .bl_fullProducts__newPrice{
  float: left;
  font-size: 23px;
  font-family: $TahomaBold;
}



.view_list__STYLE .bl_fullProducts__listStyle {
  max-width: 250px;
}


.view_list__STYLE .button_buy{
  margin-top: 16px;
}


// PAGINATION

.bl_pagination {
  text-align: center;
  margin: 26px auto 10px;
  width: 100%;
}

.pagination {

  &.bl_pagination__fullItems {
    display: inline-block;
    text-align: center;
  }

  li.bl_pagination__item {
    float: left;

  }

  a.bl_pagination__link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
    float: none;
    border: none;
    background: none;

    color: #000;

    box-sizing: border-box;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 34px;

    &:hover,
    &:focus {
      border-color: #000;
      background-color: inherit;
      color: #000 !important;
    }

  }

  a.bl_pagination__link_number {
    width: 34px;
    box-sizing: border-box;
  }

  a.bl_pagination__arrow {
    padding: 0 16px;
  }

  a.bl_pagination__lastPage {
    padding-left: 18px;
  }

  a.bl_pagination__firstPage {
    padding-right: 18px;
    border-right: 1px solid #333;
  }

  a.bl_pagination__decorLine {
    border: none;
    border-right: 1px solid #c4c4c4;
  }

  .bl_pagination__item.active {
    span {
      color: #fff !important;
      border-radius: 0;
      border-top: none;
      border-bottom: none;
      background-color: $color_pink;
    }
  }

  a.bl_pagination__link_number__active,
  .active a.bl_pagination__link_number__active {

    position: relative;
    color: #fff;
    width: 34px;
    height: 34px;
    vertical-align: top;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
    border: 2px solid #fff;
    border-radius: 50% !important;
    background-image: linear-gradient(to top, #0160ac 0%, #1d82d3 100%);

    &:focus,
    &:active {
      background-color: $color_pink;
      color: #000 !important;
    }
  }
}

// Article

.catalog_article {
  margin-top: 10px;
  padding: 23px 20px;
  width: 100%;

  background-color: #fff;
}

.catalog_article__title {
  color: #333;
  font-family: $TahomaBold;
  font-size: 18px;
  line-height: 24px;
}

.catalog_article__paragraf {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;

  color: #333;
  line-height: 24px;
}

.catalog_article__image {
  float: left;
  margin-right: 16px;
  width: 162px;
}

.error_text{
  font-size: 16px;
  color: $color_red;
}

/// success Buying

.bl_successBuying{
  position: fixed;
  width: 300px;
  min-height: 50px;
  padding: 0 10px 15px;
  top: 35%;
  left: calc(50% - 150px);

  background-color: #fff;
  border: 2px solid $color_blue;
  text-align: center;

  z-index: 1080;
}

.bl_successBuying__text{
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  color: #000;

}

.decor_icon__seccuess{
  &:before{
    content: "\f00c";
    font-family: $FontAwesom;
    font-size: 24px;
    color: #0f0;

  }
}

.bl_successBuying__close{
  position: absolute;
  top: -8px;
  right: -4px;
  margin: 0;
  width: 20px;
  height: 20px;
  background: none;
  z-index: 3;

  &:hover{
    .decor_icon__close{
        color: $color_blue2;
    }
  }
}

.decor_icon__close{
  width: 100%;
  height: 100%;
  display: block;
    font-size: 22px;
    color: $color_blue;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
