/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("TahomaBold", "../fonts/TahomaBold/Tahoma-Bold", 700, normal, eot ttf woff);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  background-color: $color_lightGrey;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(51, 51, 51, 0.6);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  flex: 1 0 auto;

  overflow: hidden; ///////////////////////
}

.decor_snowflake1 {
  position: relative;

  &:before {

    content: "";
    position: absolute;

    width: 836px;
    height: 808px;

    top: 446px;
    left: 0;
    background: url("../image/snowflake-1.png") 50% 50% no-repeat;
    background-size: cover;

    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;

    width: 676px;
    height: 808px;

    bottom: 19%;
    right: -7%;
    background: url("../image/snowflake-2.png") 50% 50% no-repeat;
    background-size: cover;
    z-index: -1;
  }

}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}

.title_name {
  margin-top: 0;
  vertical-align: top;
  margin-bottom: 0;

  text-align: left;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 18px;
}

.mainSlider__fullBlock {
  width: 100%;
}

.bl_mainSlider {
  position: relative;
  margin-top: 23px;
  width: 100%;
}

.bl_mainSlider__item {
  position: relative;
  width: 100%;
}

.bl_mainSlider__details {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  display: block;

  width: 270px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fff;
}

.bl_mainSlider__details_text {

  color: #f1f1f1;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 3;
  text-transform: uppercase;
}

// OWL

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 50px;
    //background-color: #202020;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 22px;
      height: 30px;
      background: url("../image/arrow_left.svg") 50% 50% no-repeat;

    }

  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    //background-color: #202020;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 22px;
      height: 30px;
      background: url("../image/arrow_right.svg") 50% 50% no-repeat;

    }

  }
}

//corrected style

.owl-carousel.bl_mainSlider {

  .owl-prev {
    left: 18px;
  }
  .owl-next {
    right: 18px;
  }
}

.slider_popular.owl-carousel .owl-nav,
.slider_newProducts.owl-carousel .owl-nav,
.slider_withThisProductBuy.owl-carousel .owl-nav,
.slider_youViewed.owl-carousel .owl-nav {
  width: initial;
  height: auto;
  top: -50px;
  right: 0;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 70px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid $color_lightGrey;
  }

  .owl-next {
    float: right;

  }

}

.arrow-prev__hover {
  background-color: $color_green !important;
  border-color: $color_lightGrey !important;
}

.product_image__slider.owl-carousel .owl-nav {

  top: 25%;

  .owl-prev,
  .owl-next {

    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 50px;

    background-color: $color_green;
    box-sizing: border-box;

    z-index: 11;
    &:before {
      width: 24px;
      height: 30px;
      background: url("../image/arrow_left.svg") 50% 50% no-repeat;
      background-size: cover;

    }

    &:hover {
      background-color: $color_green2;
    }

  }

  .owl-next {
    float: right;
    &:before {
      background: url("../image/arrow_right.svg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
}

.bl_withThisProductBuy .owl-carousel .owl-nav {
  top: -36px;
}

.bl_youViewed .owl-carousel .owl-nav {
  top: -36px;
}

// OWL END

.bl_dayProduct {
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_dayProduct__actual {
  margin: 30px auto 0;
  width: 315px; /////////////////////
  box-sizing: border-box;
}

.bl_dayProduct__actual_text {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 250px;
  color: white;
  font-family: 'Arial Narrow', arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $color_brown;
}

.bl_dayProduct__actual_img {
  display: block;
  margin: 0 auto;
  max-width: 250px; //////////
  width: 100%;

}

.bl_dayProduct__title {
  position: relative;
  margin-top: 30px;
  height: 40px;
  color: #333;
  font-family: $TahomaBold;
  font-size: 16px;
  text-align: center;

}

.bl_dayProduct__link {
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.bl_dayProduct__minBlock {
  width: 100%;
  height: 100%;
  min-height: 275px;
  border-left: 1px solid $color_lightGrey;
  text-align: center;

  border: 1px solid red;
}

.bl_dayProduct__minBlocks_text {
  margin-top: 30px;
  text-align: center;
  color: #333;
  font-family: $Tahoma;
  font-size: 18px;
}

.bl_sale {
  position: relative;
  margin: 17px auto 0;

  width: 100px;
  height: 35px;
  background-color: $color_brown;
}

.bl_sale__text {
  text-align: center;
  color: #fff;
  font-family: 'Arial Narrow', arial, sans-serif;
  font-size: 18px;
  line-height: 2;
}

.bl_dayProduct__minImage {
  display: block;
  margin: 16px auto 0;
  width: 100%;
  max-width: 150px;
}

.bl_popular {
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_newProducts {
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}

.bl_popular__title {
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}

.bl_newProducts__title {
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}

.slider_popular {
  margin-top: 42px;

}

.slider_newProducts {
  margin-top: 42px;
}

.product_sliderCart__item {
  display: inline-block;
  min-height: 280px; //////////////

  box-sizing: border-box;
  border: 1px solid #f1f1f1;

}

.product_sliderCart__item_wrapper {
  position: relative;
  max-width: 250px;
  text-align: center;
  margin: 12px 18px 20px 22px;
}

// MARK (layba)

.bl_mark {
  position: absolute;
  top: 20px;
  left: 26px;
  width: 100px;
  height: 35px;

  &__hit {
    background: url("../image/snowflake.svg") 0 50% no-repeat;
  }

}

.bl_mark__text {
  position: absolute;
  top: 0;
  left: 28%;
  transform: translate(-50%, -25%);

  color: #fff;
  background-color: $color_brown;

  font-family: "Arial Narrow", Arial, sans-serif;

  font-size: 24px;
  font-weight: 400;

  padding: 4px 22px 4px 39px;
  text-transform: uppercase;

  &_action {
    background-color: #f7411c;
  }
  &_new {
    padding: 2px 10px 2px 22px !important;
    margin-left: 6px;
    font-size: 20px;
    text-transform: none;
    background-color: #5a9ffd;
  }

}

.bl_mark__text_padding {
  padding: 0 22px;
}

/////

.product_sliderCart__link {

  &:hover .product_sliderCart__name {
    text-decoration: underline;
  }
}

.product_sliderCart__image {
  width: 100%;
  background-color: #f1f1f1;

}

.product_sliderCart__name {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 154px;
  height: 82px;

  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 16px;
  font-weight: 400;

  overflow: hidden;
  //white-space: pre-wrap;
  text-overflow: ellipsis;
}

.product_sliderCart__price {
  max-width: 250px;
  width: 100%;
  margin: 0 auto 16px;
}

.product_sliderCart__price_oldPrice {
  float: left;
  text-align: left;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: line-through;
}

.product_sliderCart__price_newPrice {
  float: right;
  text-align: right;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 33px;
}

.product_sliderCart__price_normalPrice {
  text-align: center;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 33px;
}

.product_sliderCart__buy {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 250px;
  height: 50px;
  margin: 16px auto 0;
  border: 1px solid $color_green;
  border-radius: 5px;
  box-sizing: border-box;

  background-color: #fff;
  color: $color_green;

  transition: all 0.2s;

  &_text {

    font-family: $TahomaBold;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    background-color: $color_green;
    color: #fff;
    transition: all 0.2s;
  }
}

.bl_advantages {
  margin-top: 35px;

  min-height: 174px;
  background-color: #fff;
}

.bl_advantages__wrapper {
  height: 100%;
  min-height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_delivery,
.bl_payment,
.bl_quality {
  width: 33%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.likeButton_circle {
  position: relative;
  margin-left: 10%;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  //border: 1px solid $color_red;

  box-shadow: 2.5px 4.3px 9px rgba(1, 1, 1, 0.14);
}

.likeButton_icon-car {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 61px;
    height: 41px;
    background: url("../image/delivery.svg") 50% 50% no-repeat;
  }
}

.likeButton_icon__cart {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 62px;
    height: 40px;
    background: url("../image/payment.svg") 50% 50% no-repeat;
  }

}

//
//.likeButton_icon-mark {
//  &:after {
//    content: "";
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//
//    width: 34px;
//    height: 40px;
//    background: url("../image/quantity.svg") 50% 50% no-repeat;
//  }
//}

.likeButton_text {
  //width: 100%;
  margin-left: 7%; /////////////
  display: inline-block;
  color: #2d3950;
  font-family: $Tahoma;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

//
//
//.bl_aboutShop {
//  background-color: #fff;
//  padding: 0 20px;
//  min-height: 400px;
//  margin-top: 30px;
//  width: 100%;
//}
//
//.bl_aboutShop__title {
//  padding-top: 22px;
//}
//
//.bl_aboutShop__fullBlock {
//  width: 100%;
//}
//
//.bl_aboutShop__paragraph {
//  margin-top: 22px;
//}

//

.bl_aboutShop {
  width: 100%;
  padding: 22px;
  margin: 35px 0;
  background-color: #fff;
}

.bl_aboutShop__title {
  margin: 0;
  color: #333;
  font-family: $TahomaBold;
  font-size: 18px;
  line-height: 24px;
}

.bl_aboutShop__paragraph {
  margin-top: 10px;
  color: #333;
  line-height: 24px;
}

//
//
//
//
//.bl_shopNews {
//  margin-top: 36px;
//  background-color: #fff;
//  width: 100%;
//  min-height: 400px;
//  padding: 0 20px;
//}
//
//.bl_shopNews__title {
//  //padding-top:22px;
//  line-height: 52px;
//  text-align: center;
//  text-transform: uppercase;
//}
//
//.bl_shopNews__fullGroup {
//  width: 100%;
//  margin-top: 26px;
//  border-top: 1px solid $color_lightGrey;
//}
//
//.bl_shopNews__news {
//  display: block;
//  width: 100%;
//  min-height: 30px;
//
//  color: $color_grey2;
//  font-family: $Tahoma;
//  font-size: 14px;
//  font-weight: 400;
//}
//
//.bl_shopNews__wrapperBlock {
//  margin-top: 18px;
//  line-height: 20px;
//  width: 100%;
//}
//
//.bl_shopNews__calendar {
//  float: left;
//  width: 14px;
//  height: 14px;
//  background: url("../image/calendar.svg") 50% 50% no-repeat;
//}
//
//.bl_shopNews__data {
//  float: left;
//  margin-left: 8px;
//
//}
//
//.bl_shopNews__data_text {
//
//  color: $color_grey2;
//  font-family: $Tahoma;
//  font-size: 14px;
//
//  &:before {
//    content: "/";
//    color: inherit;
//    padding: 0;
//  }
//  &:first-child:before {
//    content: "";
//  }
//
//}
//
//.bl_shopNews__moreInformation {
//  float: right;
//  color: $color_blue;
//  font-size: 14px;
//
//}

///////////// CART PRODUCT

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 3%;
    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;

    &:not(:last-child):after {
      content: "\f069";
      font-family: $FontAwesom;
      width: 10px;
      height: 10px;
      font-size: 10px;
      color: #000;
      position: absolute;
      top: 2px;
      right: 10px;
      z-index: 3;

      //@include sprite($fish-breadcrumb);
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;

    &:hover {
      color: #000;
    }
  }
  &__active {
    text-decoration: none;
    font-weight: bold;
  }

}

.bl_fullProduct {
  position: relative;
  width: 100%;
}

.bl_productName {
  //margin-top: 20px; //////////
  padding-bottom: 21px;
  width: 100%;
  background-color: #fff;

  box-sizing: border-box;
  border-bottom: 1px solid $color_lightGrey;
}

.bl_fullProduct__title {
  display: inline-block;
  padding: 24px 0 0 20px;
  margin-top: 0;
  margin-bottom: 0;

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 27px;

}

.bl_raiting {
  float: right;
  padding-right: 20px;
  display: inline-block;
  width: auto;
  margin-top: 24px;
  background-color: #fff;

  color: $color_grey2;
  font-size: 12px;
  line-height: 30px;
}

.bl_raiting label {
  float: right;
}

.bl_raiting__chackbox {
  position: absolute;
  visibility: hidden;
}

.bl_raiting__button {
  position: relative;
  display: inline-block;
  background: none;
  background-color: inherit;
  text-decoration: underline;
  z-index: 5;

}

.bl_raiting {

  & input:checked ~ label:before {
    background: url("../image/star_full.svg") 50% 50% no-repeat;
  }

  & label:hover:before,
  & label:hover ~ label:before {
    background: url("../image/star_full.svg") 50% 50% no-repeat;
  }

}

.bl_raiting__label {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-left: 3px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 22px;
    height: 21px;
    background: url("../image/star_empty.svg") 50% 50% no-repeat;
    z-index: 2;
  }

  &:first-child {
    margin-left: 13px;
  }
}

.review_item {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid $color_green;
}

.review_text {
  vertical-align: top;
}

.review_item__userName {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid $color_green2;
  font-family: $TahomaBold;
  color: $color_grey2;
  font-size: 18px;
}

.review_item__time {
  float: right;
  display: inline-block;
}

.review_item__raiting {
  margin-top: 10px;
  text-decoration: underline;
}

.personal-form-review {
  clear: both;
  margin-top: 15px;
}

.review_item__fullReview {
  margin-top: 10px;
}

.review_product {
  width: 100%;
  margin: 24px auto 0;
  text-align: center;
}

.review_product__title {
  display: inline;
  font-family: $Tahoma;
  font-size: 24px;

}

.review_product__title__bold {

  font-family: $TahomaBold;

}

.bl_review__raiting {
  margin-top: 4px;
}

.bl_review__raitingFull {
  display: inline-block;
}

.bl_review__raitingFull input:checked ~ label:before {
  background: url("../image/star_full.svg") 50% 50% no-repeat;
}

.bl_review__raitingFull label:hover:before,
.bl_review__raitingFull label:hover ~ label:before {
  background: url("../image/star_full.svg") 50% 50% no-repeat;
}

.bl_review__raitingFull .bl_raiting__label {
  padding-top: 4px;
  float: right;
}

.review_allReview p {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
}


.product_image {
  width: 100%;
  border-right: 1px solid $color_lightGrey;
  height: 100%;
  padding-bottom: 25px; //////////////////

}

.product_image__scaleIcon {
  position: absolute;

  top: 50px;
  right: 100px;

  width: 30px;
  height: 31px;
  background: url("../image/zoomIn.svg");
}

$minProductHeight: 610px; /////////////////////////////////

.block_fullItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: $minProductHeight;
  background-color: #fff;
}

.product_image__mainBlock {
  width: 100%;
  height: 100%;

}

.fancybox-animated {
  cursor: zoom-in;
}

.product_image__slider {
  width: 100%;
  padding-bottom: 25px;
  margin: 0 auto;
}

.product_image__img {
  width: 100%;
  height: 500px; ////////////////////////////
  text-align: center;
  object-fit: contain;

}

.product_image__item {
  width: 100%;

}

.product_image__sliderImg {

  max-height: 110px;
  object-fit: contain;
  background-size: contain;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.product_info {
  width: 100%;
  background-color: #fff;
  //min-height: $minProductHeight;
  padding-bottom: 25px;
}

.product_info__id {
  display: block;
  text-align: center;
  margin-top: 26px;
  font-size: 16px;
  line-height: 24px;
  color: $color_grey2;

  &_text {
    text-transform: uppercase;
  }
}

.product_info__productAvailability {
  display: block;
  text-align: center;
  margin-top: 6px;
  line-height: 16px;
  color: $color_grey2;
}

.product_info__productAvailability__yes {
  font-family: $TahomaBold;
  color: $color_green;
}

.product_info__productAvailability__no {
  font-family: $TahomaBold;
  color: $color_red;
}

.bl_price {

  margin: 12px auto 0;
  text-align: center;
}

.bl_price__newPrice {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 23px;

}

.bl_price__oldPrice {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 21px;
  font-weight: 400;
  text-decoration: line-through;
}

.bl_price__normal {
  display: inline-block;

  vertical-align: baseline;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 22px;
}

.product_size {
  display: inline-block;
  min-width: 220px; ///////////////////
  text-align: center;
  margin-bottom: 0 !important;
}

.product_size__text {
  text-align: center;
  display: block;
  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 17px;
}

.product_size__label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;

  margin-right: 14px; //////////////////
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid $color_lightGrey;

  &:hover {
    border-color: $color_green2;

    .product_size__text {
      color: $color_green;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.product_size__input {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.product_size__input:checked + .product_size__text {
  color: #000;
  font-family: $TahomaBold;
}

.product_sizeDescription {
  display: none;

  p {
    line-height: 1.2;
  }

  &__showed {
    display: block;
  }
}

.product_info .product_size__input:checked ~ .label_field {
  display: block;
}

.product_size__text {

  color: $color_grey2;
  font-family: $Tahoma;
  font-size: 14px;
  font-weight: 400;
  line-height: 3.4;
  text-transform: uppercase;
  cursor: pointer;

  &_min {
    text-transform: none;
  }

}

.block_quantity {
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: center;
  min-width: 100px;
}

.block_quantity__text {

  color: $color_grey2;
  font-family: $Tahoma;
  margin-top: 14px;
}

.block_quantity__box {
  position: relative;
  height: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid $color_lightGrey;

  min-width: 128px;
}

.block_quantity__minus {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 40px;
  height: 40px;
  background: none;
}

.block_quantity__plus {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: none;
}

.block_quantity__input {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;

  &::placeholder {
    display: inline-block;

    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.bl_description {
  position: relative;
  width: 100%;
  height: 130px; //////////////////////// /* Field for size*/
  margin-top: 12px;

  overflow: auto;

  border-bottom: 1px solid $color_green;
}

.bl_description__text {

  color: $color_grey2;
  font-size: 16px;
}

.bl_description__box {

  width: 100%;
  span {
    color: $color_grey2;
    font-family: $Tahoma;
    font-size: 14px;
    line-height: 1;
  }
}


#tab-description p {
  margin-top: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;

}




/////////////////
.button_buy {
  display: block;
  margin: 8px auto 0; ////26px
  text-align: center;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s;
  background-color: $color_green;
  border: 1px solid $color_green;
  border-radius: 5px;

  &:hover {
    transition: all 0.2s;
    background-color: #fff;
    color: $color_green;
  }

}

.bl_fullProducts__item .button_buy {
  margin: 16px auto 0;
  width: 100%;
}

.button_buy__text {

  color: inherit;
  font-family: $TahomaBold;
  font-size: 16px;
}

.bl_buyOneClick {
  margin: 14px auto 0;
  width: 100%;
  text-align: center;
}

.bl_buyOneClick__text {

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 16px;
}

.buy-one-click {
  padding-top: 13px;
}

.btn_buy__overflow {
  position: relative;
  border: 1px solid $color_green;
  box-sizing: border-box;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.btn_buy__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 25px;

  &::placeholder {
    text-indent: 25px;
    color: #c5c5c5;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 50px;
  }
}

.btn_buy__send {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  color: #fff;
  background-color: $color_green;
  box-sizing: border-box;

  &:hover {
    background-color: $color_green2;
  }
}

.btn-primary {
  background-color: #548301;
  background-image: -webkit-linear-gradient(top, #68a004 0, #548301 100%);
  background-image: -o-linear-gradient(top, #68a004 0, #548301 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68a004), to(#548301));
  background-image: linear-gradient(to bottom, #68a004 0, #548301 100%);
  border-color: #4c7700;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background-color: #548301;
  border-color: #4c7700;
}

.icon_buy {
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url("../image/buy_click.svg") 50% 50% no-repeat;
  background-size: cover;
  z-index: 4;
}

.bl_productDelivery {
  width: 100%;
  margin-top: 12px;
  border: 1px solid $color_lightGrey;
  padding: 12px 0;
  text-align: center;
}

.bl_productDelivery__text_mainText {
  font-family: $TahomaBold;
}

.bl_productDelivery__text {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;

  color: $color_grey2;

}

.color_red {
  color: $color_red;
}

.bl_productDelivery__text .color_red {
  text-transform: uppercase;
}

.bl_productAdvantages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 33px;
  padding-top: 44px;
  padding-bottom: 36px;

  text-align: center;

  min-height: 254px;
  background-color: #fff;
}

.bl_productAdvantagesDelivery,
.bl_productAdvantagesPayment,
.bl_productAdvantagesExchange {
  width: 33%;

  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;

  height: 100%;
  align-items: center;
}

.bl_productAdvantagesDelivery__icon-delivery {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/delivery.svg") 50% 50% no-repeat;

}

.bl_productAdvantagesPayment__icon-cart {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/payment.svg") 50% 50% no-repeat;
}

.bl_productAdvantagesExchange__icon-return {
  margin: 0 auto;
  width: 80px;
  height: 66px;
  background: url("../image/return.svg") 50% 50% no-repeat;
}

.bl_advantages__title {
  margin-top: 32px;

  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 18px;
  line-height: 24px;
}

.bl_advantages__allVariants {
  margin: 22px auto 0;
  max-width: 248px;
  box-sizing: border-box;

}

.bl_advantages__text {
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 24px;
}

.bl_advantages__link {
  color: $color_green;
  text-decoration: underline;
  &:hover {
    color: $color_green;
  }
}

.bl_video {
  width: 100%;
  padding: 10px;
}

.bl_video__text {
  display: inline-block;
  font-size: 22px;
  font-family: $TahomaBold;
  padding: 0;
}

.bl_video_wrapper {
  margin-top: 10px;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.bl_video_videoAboutProduct {
  margin-top: 10px;
  display: block;
  object-fit: contain;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

div#theCaption {
  display: none;
}

.control:link {
  font-size: 120%;
}

.highslide-caption {
  background-color: $color_green2;
}

////// information about product

.inf_product {
  width: 100%;
  margin-top: 35px;
  background-color: #fff;
}

.inf_product__tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

li.inf_product__item {
  width: 33%;
  text-align: center;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
  line-height: 27px;
  box-sizing: border-box;

  background-color: inherit;
}

li.inf_product__item.inf_product__item_correctForTwo {
  width: 50%;
}

.inf_product .tab-content {
  padding: 0 30px 32px 20px;
}

.tab-content .tab-pane li {
  margin-top: 10px;
}

.nav-tabs li.inf_product__item a:hover {
  border: none;
}

.nav-tabs .inf_product__item > a {
  margin: 0;
  padding: 15px;

  &:hover {
    background-color: #fff;
  }
}

.inf_product__tabs .inf_product__item.active a {
  border: none;
  border-radius: 0;
  border-top: 2px solid $color_green;
  background-color: $color_greenOpacity;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border: none;
    color: #000;
    background-color: $color_greenOpacity;
    border-top: 2px solid $color_green;
  }
}

.tab-pane .table td:first-child {
  width: 30%;
}

.tab-pane .table,
.tab-pane .table tr td {
  border: none;
  height: 100%;
  font-size: 16px;
  color: $color_grey2;
  line-height: 32px;
  text-align: center;
}

.tab-pane .table tr td:nth-child(2n) {
  text-align: left;
}

.tab-pane .table tr:nth-child(2n -1) {
  background-color: $color_lightGrey;
}

.bl_withThisProductBuy,
.bl_youViewed {
  position: relative;
  margin-top: 35px;
  background-color: #fff;
}

.bl_withThisProductBuy__title,
.bl_youViewed__title {
  font-size: 24px;
  font-family: $TahomaBold;
  padding: 25px 20px 20px;
}

//// CATEGORIES PRODUCT

.rubric__title {
  position: relative;
  margin: 23px auto 0;
  width: 100%;
  border-bottom: 1px solid #eee;

  &:hover {
    .rubric__title_text {
      text-decoration: underline;
    }
  }

}

.rubric__title_button {
  position: absolute;
  top: 25%;
  left: 25%;

  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: $color_green;
  color: #fff;
}

.rubric__title_button__categories {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 36px;
    content: "\f0c9";
    font-family: $FontAwesom;
    background: none;

  }
}

.rubric__title_button__filters {
  &:after {
    content: "\f0b0";
    font-family: $FontAwesom;
  }
}

.rubric__title_text {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-family: $TahomaBold;
  color: $color_grey2;
  font-size: 24px;
  line-height: 36px;

}

.rubric__title_decorate {
  letter-spacing: 2px;
}

.rubric__title_margin {
  padding-left: 20px;
}

.rubric__title_margin__filters {
  width: 100%;
  text-align: center;
}

.bl_filters {
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}

.bl_filters__caterogyName,
.bl_filters__caterogyName_active {
  position: relative;
  margin: 0;
  color: $color_grey2;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  &:hover {
    color: $color_green;
    transition: all 0.2s;
  }
}

.bl_filters__caterogyName_active {
  color: $color_green;
}

.filter_name {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.decor_triangle {
  position: relative;

  &:after {
    font-size: 14px;
    color: $color_green;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    content: "\f054";
    font-family: $FontAwesom;
    transition: all 0.2s;
  }

  &__active {
    position: relative;
    &:after {
      font-size: 14px;
      color: $color_green;
      font-weight: 400;
      position: absolute;
      right: 0;
      top: 0;
      content: "\f078";
      font-family: $FontAwesom;
      transition: all 0.2s;
    }
  }
}

.decor_leftTriangle {
  position: relative;

  &:after {
    font-size: 24px;
    color: inherit;
    position: absolute;
    left: -20px;
    top: 0;
    content: "\f0da";
    font-family: $FontAwesom;
    transform-origin: left 50%;
    transition: all 0.2s;
  }

  &__active {
    position: relative;

    &:after {
      top: -2px;

      transition: all 0.2s;
      transform: rotate(90deg);
    }
  }
}

.decor_triangle__socButton {
  position: relative;

  &:before {
    position: absolute;
    left: -6px;
    top: 8px;
    content: "";
    @include triangle(left, 6px, #ccc);
    z-index: 5;
  }

}

.bl_filters__item {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: $color_grey2;
  cursor: pointer;
  &:hover {
    color: $color_green;
    transition: all 0.2s;
  }
}

.bl_filters__subName {

}

.bl_filters__subName_active {
  color: $color_green;
}

.bl_filters__productsFilters {
  padding-left: 20px;
  padding-right: 10px;
}

.decor_circle {

  &:before {

    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    border-radius: 50%;
    background-color: $color_green;
    text-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.2);
    line-height: 36px;
  }
}

.bl_filter__checkbox {
  position: absolute;
  opacity: 0;
  //z-index: 99;
}

.bl_filter__label input:checked + .decor_lickCheckbox:after {
  position: absolute;
  left: -11px;
  content: "\f00c";
  width: 100%;
  height: 100%;
  font-family: $FontAwesom;
  font-size: 14px;
  font-weight: 400;
  color: $color_green;
  z-index: 4;
}

.decor_lickCheckbox {
  position: relative;

  &:before {
    content: "";
    position: absolute;

    top: 0;
    left: -15px;

    width: 20px;
    height: 20px;
    border: 1px solid #efefef;
    background-color: #fff;
    z-index: 3;
  }

}

.filter_text {
  position: relative;
  display: inline-block;

  padding-left: 30px;

  margin-left: 15px;
  line-height: 17px; ////////
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  &__active {
    transition: all 0.2s;
    color: #51c010;
  }

  &:hover {
    color: $color_green;
    transition: all 0.2s;
  }
}

// OCFilter Dragebl

.bl_filters__allFilters .noUi-connect {

  height: 9px;
  background-color: #548301;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  height: 23px;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #cadded;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  cursor: pointer;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle:before,
.bl_filters__allFilters .noUi-horizontal .noUi-handle:after {
  content: none;
}

.bl_filters__allFilters .noUi-origin {
  margin-top: 4px;
}

/////

///////////////////////////
.bl_fullProducts {
  margin-top: 16px;
  padding: 20px 15px;
}

.bl_view {

  width: 100%;
  padding: 0 15px;
}

.bl_view__text {

  height: 16px;
  font-size: 16px;
}

.bl_sorter {
  display: inline-block;
  position: relative;

  &:after {
    content: "\f0d7";
    font-family: $FontAwesom;
    position: absolute;
    top: 0;
    right: 3px;

    pointer-events: none;
    box-sizing: border-box;

    width: 12px;
    height: 8px;
    color: $color_brown;

    font-size: 18px;
    font-weight: 400;
    z-index: 5;
  }
}

.bl_sorter__select {
  width: 206px;
  height: 25px;
  border: 1px solid #e5e5e5;
}

.bl_numberOfItemShow {
  position: relative;
  margin-left: 7%; ////////
  display: inline-block;

  &:after {
    content: "\f0d7";
    font-family: $FontAwesom;
    position: absolute;
    top: 0;
    right: 3px;

    pointer-events: none;
    box-sizing: border-box;

    width: 12px;
    height: 8px;
    color: $color_brown;

    font-size: 18px;
    font-weight: 400;
    z-index: 5;
  }
}

.bl_numberOfItemShow__select {

  width: 162px;
  height: 25px;
  border: 1px solid #e5e5e5;
  text-indent: 10px;
}

.bl_positionSorted {
  position: relative;
  float: right;

  &__ratio {
    position: absolute;
    opacity: 0;
  }

  &__button {
    position: relative;
    display: inline-block;
    color: #c5bdb9;
    width: 28px;
    height: 28px;
  }
}

.bl_positionSorted__ratio:checked + .bl_positionSorted__label .bl_positionSorted__button {
  color: $color_green;
}

.view_columns {

  &__button {
    position: relative;
    margin-right: 12px;
    cursor: pointer;

    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f009';
      font-family: $FontAwesom;
      font-size: 30px;
    }
  }

}

.view_list {
  &__button {
    position: relative;
    cursor: pointer;
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f03a';
      font-family: $FontAwesom;
      font-size: 30px;
    }
  }
}

.bl_catalog__fullProducts {
  width: 100%;
  height: 100%;
  margin-top: 23px; // должно совпадать с отступом левого блока по верхнему
  padding-top: 15px;
}

///// GRID VIEW

.view_grid__STYLE {

  .bl_fullProducts__options,
  .product_info__id,
  .product_info__productAvailability {
    display: none;
  }

}

.bl_products {
  margin-top: 20px;

}

.bl_products__border {
  border-top: 1px solid $color_lightGrey;
  border-left: 1px solid $color_lightGrey;
}

.bl_fullProducts__item {
  position: relative;

  height: 100%;
  min-height: 380px; ///////////////

  padding: 16px 20px 23px 20px;

  box-sizing: border-box;

}

.bl_fullProducts__item_border {
  border-right: 1px solid $color_lightGrey;
  border-bottom: 1px solid $color_lightGrey;

}

.bl_fullProducts__item_border.col-md-4 .bl_fullProducts__item_border:nth-of-type(3) {
  border-right: none;
  /* Данный стиль актуальный только если у bl_fullProducts__item есть col-md-4 */
}

.bl_fullProducts__imageWrapper {
  margin: 0 auto;
  text-align: center;
  padding: 12px 8px;
  width: 100%;
}

.bl_fullProducts__title {

  margin-top: 34px;
  height: 44px;

  text-align: center;
  color: $color_grey2;
  font-size: 16px;

}

.bl_fullProducts__link {

  &:hover {
    text-decoration: underline;
  }
}

.bl_fullProducts__price {
  color: $color_grey2;
  line-height: 33px;
  width: 100%;
}

.bl_fullProducts__oldPrice {
  text-align: left;
  font-size: 18px;

}

.bl_fullProducts__newPrice {

  float: right;
  font-size: 24px;
  font-family: $TahomaBold;
}

.bl_fullProducts__normal {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

//////  LIST VIEW

.view_list__STYLE .bl_fullProducts__item {
  min-height: 298px;
}

.view_list__STYLE .bl_fullProducts__imageWrapper {
  margin: 0 auto;
  width: auto;
}

.view_list__STYLE .bl_products__center__wrapper {
  height: 100%;
  vertical-align: middle;
  display: block !important;
}

.view_list__STYLE .bl_fullProducts__title,
.view_list__STYLE .bl_fullProducts__options {
  display: block;
  height: auto;
  margin: 0;
  color: #333;
  font-family: $TahomaBold;
  font-size: 18px;
  text-align: left;
}

.view_list__STYLE .product_info__id,
.view_list__STYLE .product_info__productAvailability {
  display: block;
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}

.view_list__STYLE .bl_fullProducts__oldPrice,
.view_list__STYLE .bl_fullProducts__newPrice,
.view_list__STYLE .bl_fullProducts__normal {
  margin-top: 40px;
}

.view_list__STYLE .bl_fullProducts__oldPrice {
  float: right;
  font-size: 21px;
}

.view_list__STYLE .bl_fullProducts__newPrice {
  float: left;
  font-size: 23px;
  font-family: $TahomaBold;
}

.view_list__STYLE .bl_fullProducts__listStyle {
  max-width: 250px;
}

.view_list__STYLE .button_buy {
  margin-top: 16px;
}

// PAGINATION

.bl_pagination {
  text-align: center;
  margin: 26px auto 10px;
  width: 100%;
}

.pagination {

  &.bl_pagination__fullItems {
    display: inline-block;
    text-align: center;
  }

  li.bl_pagination__item {
    float: left;

  }

  a.bl_pagination__link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
    float: none;
    border: none;
    background: none;

    color: #000;

    box-sizing: border-box;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 34px;

    &:hover,
    &:focus {
      border-color: #000;
      background-color: inherit;
      color: #000 !important;
    }

  }

  a.bl_pagination__link_number {
    width: 34px;
    box-sizing: border-box;
  }

  a.bl_pagination__arrow {
    padding: 0 16px;
  }

  a.bl_pagination__lastPage {
    padding-left: 18px;
  }

  a.bl_pagination__firstPage {
    padding-right: 18px;
    border-right: 1px solid #333;
  }

  a.bl_pagination__decorLine {
    border: none;
    border-right: 1px solid #c4c4c4;
  }

  .bl_pagination__item.active {
    span {
      color: #fff !important;
      border-radius: 0;
      border-top: none;
      border-bottom: none;
      background-color: $color_pink;
    }
  }

  span.bl_pagination__link_number__active,
  .active span.bl_pagination__link_number__active {

    position: relative;
    color: #fff;
    width: 34px;
    height: 34px;
    vertical-align: top;
    border-radius: 3px;
    background-color: $color_green;

    &:focus,
    &:active {
      background-color: $color_brown;
      color: #fff;
    }
  }
}

// Article

.catalog_article {
  clear: both;
  margin-top: 37px;
  padding: 23px 20px;
  width: 100%;

  background-color: #fff;
}

.catalog_article__title {
  color: #333;
  font-family: $TahomaBold;
  font-size: 18px;
  line-height: 24px;
}

.catalog_article__paragraf {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;

  color: #333;
  line-height: 24px;
}

.catalog_article__image {
  float: left;
  margin-right: 16px;
  width: 162px;
}

.error_text {
  font-size: 16px;
  color: $color_red;
}

// CALLBACK

.bl_callBack {
  position: fixed;
  width: 310px;
  min-height: 150px;
  padding: 15px 10px;
  top: 35%;
  left: calc(50% - 150px);

  background-color: #fff;
  border: 2px solid $color_green;
  text-align: center;

  z-index: 1080;
}

.bl_callBack {
  margin: 4px 0;
  font-size: 18px;
}

.bl_callBack__input {
  border: 1px solid $color_green;

  &:focus {
    border-color: $color_green2;
  }

  &::placeholder {
    //text-indent: 20px;
    text-align: center;
  }
}

.bl_callBack__error {
  display: block;
  min-height: 20px;
}

.bl_callBack__submit {
  margin: 5px 0;
  color: #fff;
  padding: 5px 10px;
  background-color: $color_green;

  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $color_green2;
  }
}

.bl_callBack__forUser {

}

.bl_callBack__submit {

}

/// success Buying

.bl_successBuying {
  position: fixed;
  width: 300px;
  min-height: 50px;
  padding: 15px 10px;
  top: 35%;
  left: calc(50% - 150px);

  background-color: #fff;
  border: 2px solid $color_green;
  text-align: center;

  z-index: 1080;
}

.bl_successBuying__text {
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  color: #000;

}

.decor_icon__seccuess {
  &:before {
    content: "\f00c";
    font-family: $FontAwesom;
    font-size: 24px;
    color: #0f0;

  }
}

.bl_successBuying__close,
.bl_callBack__close {
  position: absolute;
  top: -6px;
  right: -4px;
  margin: 0;
  width: 20px;
  height: 20px;
  background: none;
  z-index: 3;

  &:hover {
    .decor_icon__close {
      color: $color_green2;
    }
  }
}

.decor_icon__close {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 22px;
  color: $color_green;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

//  Page 404

.forest {
  background-image: url(../image/wood.svg);
}

.frame .moon:after {
  background-image: url(../image/bgMoon.png);
}

////////////////////////////////////////// SHOPING BAG

.bl_receiver,
.bl_deliveryMethod {
  margin-top: 32px;
  padding: 10px 65px;
  height: 100%;
  min-height: 420px;

  background-color: $color_grey3;
}

.form-group {
  margin: 0;

  input, textarea, select {
    outline: none;
    border: none;
    &:focus {
      box-shadow: 0 0 6px $color_blue;
    }
  }

}

.personal-form-review .form-control,
.personal-form-review .bl_review__raiting {
  margin-top: 16px;
}

.form-lineStyle {
  width: 100%;
}

.form_telephone {
  clear: both;
}

.text_paragraph {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $Tahoma;
  font-size: 13px;
  line-height: 30px;
}

.text_decor__importantField {
  &:before {
    position: absolute;
    top: 0;
    left: -10px;
    content: "*";
    color: $color_red;
    font-family: $Tahoma;
    font-size: 16px;
    line-height: 30px;
  }
}

.shoppingBasket_label {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.shoppingBasket_input {
  position: absolute;
  visibility: hidden;
}

.shoppingBasket_text {
  position: relative;
  width: 100%;

  margin-top: 10px;
  color: black;
  font-size: 16px;
  line-height: 18px;

  &:before {
    position: absolute;
    top: 2px;
    left: -18px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $color_grey4;
    z-index: 2;
  }
}

.shoppingBasket_label input:checked + .shoppingBasket_text {

  &:before {
    border-color: $color_green;
  }

  &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color_green;

    z-index: 3;
  }
}

.group_selects {
  margin-top: 14px;
  width: 100%;
}

.shoppingBasket_product {

  clear: both;
  width: 100%;
  margin-top: 4%;

}

.boredr_bottom {

  border-top: 1px solid red;
}

.table_title {
  display: block;
  width: 100%;
  color: black;
  font-family: $TahomaBold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

}

.table_title__left {
  text-align: left;
}

.shoppingBasket_product__good {
  padding-bottom: 8px;
  border-bottom: 1px solid $color_green;
}

.shoppingBasket_product__title {
  padding-bottom: 3px;
  border-bottom: 1px solid $color_green;
}

.shoppingBasket_product__item {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  width: 100%;
  min-height: 120px;
  text-align: center;

}

.shoppingBasket_product__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapperButton {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  min-height: 120px;
}

.delite_product {
  position: absolute;
  left: 0;
  top: 35%;
  width: 24px;
  height: 24px;
  color: $color_grey2;
  font-size: 24px;

  &:before {

    content: "\f00d";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: $FontAwesom;

    font-size: 24px;
    z-index: 2;
  }

  &:hover {
    color: $color_pink;
  }

}

.shoppingBasket_product__img {
  float: left;
  margin-left: 30px;
  max-width: 120px;
  margin-right: 2%;

}

.shoppingBasket_product__description {

  display: flex;
  flex-direction: column;
  min-height: 120px; // зависит от размеров фотки
  justify-content: center;

}

.shoppingBasket_product__name {
  text-align: center;
  margin: 0;
  font-size: 16px;
  color: #000;

  &.popup_likeShopbag__text {
    text-align: center;
  }
}

.shoppingBasket_product__value {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
  color: $color_grey2;
}

.shoppingBasket_product__mark {
  color: black;
  font-size: 16px;
}

.good-price__old {
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  margin: 5px auto 0;
  text-decoration: line-through;
}

.good-price__new {

  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  color: $color_red;
  margin: 5px auto 0;
  display: inline-block;
}

.good-price__normal {
  font-family: $TahomaBold;
  text-align: left;
  white-space: nowrap;
  color: black;
  font-size: 16px;

  display: inline-block;
}

.shoppingBasket_product__fullPrise {
  margin-top: 68px;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
  min-height: 30px;
  background-color: #fff;
  border: 1px dashed $color_green;

  p {
    width: 100%;
  }

  .table_title {
    line-height: 30px;
    display: inline;
    text-align: left;

    margin: 0;

  }

}

.shoppingBasket_product__fullPrise_text {
  line-height: 30px;
  text-align: right;
}

.button_continueBuying {
  margin-top: 18px;
  width: 100%;
  min-height: 35px;
  box-sizing: border-box;
  background-color: $color_green;
  transition: all .3s;
}

.button_buyProduct {
  background-color: #548301;
}

.button_buyProduct__corrected {
  float: right;
  margin-top: 18px;
}

.button_continueBuying__corrected {
  float: right;
  margin-right: 2%;
  max-width: 190px;
}

.button_continueBuying__link,
.button_buyProduct__text {
  display: block;
  padding: 4px 6px;
  text-align: center;
  color: #fff;
  line-height: 2;

  &:hover {
    color: #fff;
  }

}

.decor_line {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: 10px;

  &:after {
    position: absolute;
    left: 0;
    transform: translateY(50%);
    content: "";
    height: 1px;
    width: 100%;
    background-color: $color_green2;
  }
}

// POPUP likeShopBag

.popup_likeShopbag .shoppingBasket_product__name {
  text-align: center;
}

.popup_likeShopbag {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 628px;
  min-height: 250px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid $color_green;
  z-index: 1080;

}

.popup_likeShopbag__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  color: $color_green;
  background: none;
  font-size: 18px;
  font-weight: 400;
  z-index: 4;
}

.popup_likeShopbag__close:hover {
  color: #f00;
}

.popup_likeShopbag {
  border: 2px solid $color_green;
  padding: 0 20px 20px;
  min-height: initial;
}

.popup_likeShopbag__text_main {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 3% auto 10px;
  font-size: 24px;
}

.popup_likeShopbag__text {
  margin: 5px;
}

.button_buyProduct {
  background-color: $color_green;
  min-height: 30px;
}

.popup_likeShopbag__buttons {
  width: 100%;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.popup_likeShopbag__continueBuying,
.popup_likeShopbag__goToShopbag {
  width: 45%;
}

.button_buyProduct__text {
  color: #fff;
}

.popup_likeShopbag__goToShopbag_text {
  transition: 0.2s all;
}

.popup_likeShopbag__goToShopbag_text:hover {
  color: #fff;
}

.shoppingBasket_product__name.popup_likeShopbag__text {
  text-align: center;
}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
