@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

  .bl_catalogProducts {
    min-height: inherit;
  }

  .bl_fullNavigation {
    min-height: 48px;
  }

  .bl_personalRoom__link {
    margin-right: 3vw;
  }

  .btn_callBack {
    margin-right: 3vw;
  }

  .likeButton_circle {
    margin-left: 1%;
  }

  .view_list__STYLE .bl_fullProducts__imageWrapper {
    width: 33%;
  }

  .bl_fullProducts__price {
    min-height: 60px;
  }

  .bl_topic__text {
    font-size: 12px;
  }

  .bl_fullCategories__link {
    font-size: 15px;
  }

}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .bl_logo__image {
    margin: 0 auto;
  }

  .bl_phonesSearch {
    float: none;
    margin: 30px auto 0;
  }

  .bl_personalRoom__link {
    float: none;
    margin-left: 15%;
  }

  .bl_search {
    margin: 5% auto 2%;
  }

  .btn_callBack {
    float: none;
    margin-left: 5%;
  }

  .bl_currency {
    margin-right: 4%;
  }

  .bl_personalRoom {
    width: 50%;
    float: right;
    margin: 30px auto 0;
  }
  .bl_personalRoom__text {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .bl_shoppingCart {
    width: 50%;
  }

  .rubric__title_text {
    text-align: center;
  }

  .rubric__title_margin {
    padding: 0;
  }

  .bl_fullCategories__field {
    display: none;
  }

  .bl_fullCategories__item {
    width: 100%;
    max-width: 320px;
    display: block;
    text-align: center;
    padding-right: 0;
    text-transform: uppercase;
    border-right: none;
    border-bottom: 1px solid #fff;

    //&:first-child {
    //  text-align: center;
    //  border-left: none;
    //}
    //
    //&:last-child .bl_fullCategories__link {
    //  text-align: center;
    //}
  }


  .bl_fullCategories__item.active .bl_fullCategories__link {
    background: none;
  }

  .bl_fullCategories__link {
    text-transform: uppercase;
    text-align: left;
    margin-left: 30px;
    line-height: 34px;
  }

  .bl_fullCategories__item {
    border: none;
    max-width: initial;
    text-transform: none;
  }

  /////// Mobile version menu <991px

  .mobile_subNav {

    display: none;

    max-width: 320px;
    margin-left: 45px;

    .bl_subNav__link {
      text-align: left;
      margin-bottom: 10px;
    }

    .bl_subNav__name {
      min-height: initial;
      color: #fff;
      &:hover,
      &:focus {
        color: #fff;
      }
    }

  }

  .js-navItem.active .mobile_subNav{
    display: block;
  }





  /////////////////////////

  .main_catalogs {
    margin-top: 0;
  }

  .bl_catalogProducts {
    min-height: inherit;
  }
  .bl_catalogProducts__title {
    display: block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000;
  }
  .bl_catalogProducts__full {

    display: none;

    text-align: center;
    text-transform: uppercase;
    padding: 0;
  }

  .bl_fullCategories__wrapper,
  .bl_category__allCategories {
    display: none;
  }

  .view_grid__STYLE .bl_fullProducts__item {
    margin-bottom: 120px;
  }

  .view_grid__STYLE .bl_fullProducts__characteristics {
    display: block;
    border-color: #ddd;
  }

  .bl_filters, .bl_filters__productsFilters {
    display: none;
  }

  .bl_filters__caterogyName {
    text-align: center;
    font-size: 21px;
  }

  .bl_filters__subName {
    font-size: 16px;
  }

  .bl_filters__productsFilters .decor_leftTriangle:after {
    left: 50%;
    transform-origin: 50% 50%;
  }
  .bl_filters__productsFilters .decor_leftTriangle__active:after {
    top: 0;
    z-index: 2;
  }

  .filter_name {
    font-size: 20px;
    text-align: center;

    margin-top: 10px;

    background-color: $color_green;
    color: #fff;
  }

  .bl_filters__fullRubric {
    margin-top: 25px;
  }

  .likeButton_circle {
    margin-left: 0;
    width: 80px;
    height: 80px;
  }

  .likeButton_icon-car:after,
  .likeButton_icon__cart:after,
  .likeButton_icon__mark:after {
    transform: translate(-50%, -50%) scale(.8);
  }

  .code_information__title,
  .code_contacts__title,
  .code_adress__title {

    position: relative;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px;
    border-bottom: 2px solid #fff;

    &:after {

      position: absolute;
      top: 8px;
      right: 10px;

      font-size: 24px;
      color: #fff;
      content: "\f103";
      font-family: $FontAwesom;
    }
  }

  .code_information__full,
  .code_contacts__full,
  .code_adress__full {
    display: none;
  }

  .footer_fullPages {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer_fullPages__map {
    padding-left: 0;
  }
  .icon-map {
    &:before {
      display: none;
    }
  }

  .footer_firstPart {
    padding-bottom: 10px;
  }

  .bl_breadcrumbs__item {
    &:not(:last-child):after {
      right: 4px;
    }
  }

  .bl_fullProducts__price {
    min-height: 42px;
  }

  .blog_search__field {
    text-indent: 5px;
  }

  .blog_search__button:before {
    left: 5px;
  }

  .blog_search {
    margin: 10px auto;
  }

  .bl_article__title {
    font-size: 24px;
  }

  .bl_topic__circle_btn {
    float: left;
    width: 26px;
    height: 26px;
  }
  .bl_topic__time_btn:after,
  .bl_topic__user_btn:after {
    font-size: 12px;
  }

  .bl_topic__text {
    font-size: 9px;
    margin-left: 3px;
  }

}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {

  .bl_fullNavigation {
    min-height: 50px;
  }

  .bl_adress {
    font-weight: bold;

    &:before {
      background: none;
    }
  }

  .inf_product__tabs {
    flex-direction: column;
    width: 100%;
  }
  li.inf_product__item {
    width: 100%;

  }

  .bl_shoppingCart {
    width: auto;
    margin-top: 8px;
    float: none;
    text-align: center;
  }

  .inf_product__tabs .inf_product__item.active a {
    border-top: none;
    background-color: $color_green;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      border: none;
      background-color: $color_green;
      color: #fff;
    }

  }

  .view_list__STYLE .bl_fullProducts__imageWrapper {
    min-width: 200px;
  }

  .rubric__title_text {
    font-size: 20px;
  }

  .bl_subcatalog__item {
    width: 47.5%;
    &:nth-of-type(3n+2) {
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-of-type(2n) {
      margin-left: 5%;
    }
  }

  .view_grid__STYLE .bl_fullProducts__item {
    max-width: 450px;
    margin: 0 auto 120px;
  }

  .bl_fullProducts__price {
    max-width: 250px;
    margin: 5px auto;
  }

  .bl_fullProducts__normal,
  .bl_fullProducts__newPrice {
    font-size: 20px;
  }
  .bl_fullProducts__oldPrice {
    font-size: 14px;
  }

}

@media only screen and (max-width: 600px) {

  .btn_callBack {
    display: none;
  }

  .bl_mainSlider__details {
    width: 150px;
    height: 30px;
    bottom: 10px;
  }

  .bl_mainSlider__details_text {
    line-height: 1.8;
  }

  .bl_personalRoom__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    z-index: 2;
  }
  .bl_personalRoom__icon {
    &:before {
      display: none;
    }
  }

  .rubric__title_button {
    left: 15%;
  }

  .bl_receiver,
  .bl_deliveryMethod {
    min-height: 310px;
  }
  .bl_topic__circle_btn {
    display: none;
  }

  .bl_article__title {
    font-size: 18px;
  }

}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {

  //.bl_phones {
  //  float: none;
  //  margin: 0 auto;
  //  text-align: center;
  //  width: 100%;
  //}
  //
  //.bl_phones__text {
  //  display: inline;
  //  text-align: center;
  //}

  //.bl_shoppingCart {
  //  float: none;
  //
  //}

  .icon_calling:before {
    left: -24px;
  }

  .bl_productAdvantages {
    display: none;
  }

  .rubric__title_button {
    left: 5%;
  }

  .bl_receiver, .bl_deliveryMethod {
    padding: 10px 20px;
  }

  .bl_subcatalog__item {
    width: 100%;

    &:nth-of-type(2n) {
      margin-left: 0;
    }
  }

  .icon-city:before, .icon-kyivstar:before {
    display: none;
  }

}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

  .rubric__title_button {
    left: 0;
  }

}
